


/*
=============== 
Navbar
===============
*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-center {
  width: 90vw;
  max-width: 90vw;
  // border: 1px solid red;
  background-color: #EDEDED ;
}

.nav-header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
}

.nav-logo {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
}